# Instructor Turn Activity 1: Merging

In [1]:
# Dependencies
import pandas as pd

In [2]:
raw_data_info = {
    "customer_id": [112, 403, 999, 543, 123],
    "name": ["John", "Kelly", "Sam", "April", "Bobbo"],
    "email": ["jman@gmail", "kelly@aol.com", "sports@school.edu", "April@yahoo.com", "HeyImBobbo@msn.com"]
}
info_pd = pd.DataFrame(raw_data_info, columns=["customer_id", "name", "email"])
info_pd

   customer_id   name               email
0          112   John          jman@gmail
1          403  Kelly       kelly@aol.com
2          999    Sam   sports@school.edu
3          543  April     April@yahoo.com
4          123  Bobbo  HeyImBobbo@msn.com

In [3]:
# Create DataFrames
raw_data_items = {
    "customer_id": [403, 112, 543, 999, 654],
    "item": ["soda", "chips", "TV", "Laptop", "Cooler"],
    "cost": [3.00, 4.50, 600, 900, 150]
}
items_pd = pd.DataFrame(raw_data_items, columns=[
                        "customer_id", "item", "cost"])
items_pd

   customer_id    item   cost
0          403    soda    3.0
1          112   chips    4.5
2          543      TV  600.0
3          999  Laptop  900.0
4          654  Cooler  150.0

In [4]:
# Merge two dataframes using an inner join
merge_table = pd.merge(info_pd, items_pd, on="customer_id")
merge_table

   customer_id   name              email    item   cost
0          112   John         jman@gmail   chips    4.5
1          403  Kelly      kelly@aol.com    soda    3.0
2          999    Sam  sports@school.edu  Laptop  900.0
3          543  April    April@yahoo.com      TV  600.0

In [5]:
# Merge two dataframes using an outer join
merge_table = pd.merge(info_pd, items_pd, on="customer_id", how="outer")
merge_table

   customer_id   name               email    item   cost
0          112   John          jman@gmail   chips    4.5
1          403  Kelly       kelly@aol.com    soda    3.0
2          999    Sam   sports@school.edu  Laptop  900.0
3          543  April     April@yahoo.com      TV  600.0
4          123  Bobbo  HeyImBobbo@msn.com     NaN    NaN
5          654    NaN                 NaN  Cooler  150.0

In [6]:
# Merge two dataframes using a left join
merge_table = pd.merge(info_pd, items_pd, on="customer_id", how="left")
merge_table

   customer_id   name               email    item   cost
0          112   John          jman@gmail   chips    4.5
1          403  Kelly       kelly@aol.com    soda    3.0
2          999    Sam   sports@school.edu  Laptop  900.0
3          543  April     April@yahoo.com      TV  600.0
4          123  Bobbo  HeyImBobbo@msn.com     NaN    NaN

In [7]:
# Merge two dataframes using a right join
merge_table = pd.merge(info_pd, items_pd, on="customer_id", how="right")
merge_table

   customer_id   name              email    item   cost
0          112   John         jman@gmail   chips    4.5
1          403  Kelly      kelly@aol.com    soda    3.0
2          999    Sam  sports@school.edu  Laptop  900.0
3          543  April    April@yahoo.com      TV  600.0
4          654    NaN                NaN  Cooler  150.0

## Students Turn Activity 2: Cryptocurrency Merging

### Instructions
  * Read in both of the CSV files and print out their DataFrames.

  * Perform an inner merge that combines both DataFrames on the "Date" column.

  * Rename the columns within the newly merged DataFrame so that the headers are more descriptive.

  * Create a summary table that includes the following information: `Best Bitcoin Open`, `Best Dash Open`, `Best Bitcoin Close`, `Best Dash Close`, `Total Bitcoin Volume`, `Total Dash Volume`.

  * `Total Bitcoin Volume` and `Total Dash Volume` should be calculated to have units of "millions" and be rounded to two decimal places.

In [13]:
# Import Dependencies
import pandas as pd

In [14]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [15]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [16]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [17]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [18]:
# Merge the two DataFrames together based on the Dates they share

In [19]:
# Rename columns so that they are differentiated

In [20]:
# alternatively you can set your suffixes when the merge occurs

In [21]:
# Collecting best open for Bitcoin and Dash


# Collecting best close for Bitcoin and Dash


# Collecting the total volume for Bitcoin and Dash

In [22]:
# Creating a summary DataFrame using above values

# Instructor Turn Activity 3 Binning

In [23]:
# Import Dependencies
import pandas as pd

In [24]:
raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 56, 72, 88, 98, 67]}
df = pd.DataFrame(raw_data)
df

  Class     Name  Test Score
0   Oct    Cyndy          90
1   Oct    Logan          56
2   Jan     Laci          72
3   Jan    Elmer          88
4   Oct  Crystle          98
5   Jan    Emmie          67

In [25]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [0, 60, 70, 80, 90, 100]

# Create the names for the four bins
group_names = ["F", "D", "C", "B", "A"]

In [26]:
df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
df

  Class     Name  Test Score Test Score Summary
0   Oct    Cyndy          90                  B
1   Oct    Logan          56                  F
2   Jan     Laci          72                  C
3   Jan    Elmer          88                  B
4   Oct  Crystle          98                  A
5   Jan    Emmie          67                  D

In [27]:
# Creating a group based off of the bins
df = df.groupby("Test Score Summary")
df.max()

                   Class     Name  Test Score
Test Score Summary
F                    Oct    Logan          56
D                    Jan    Emmie          67
C                    Jan     Laci          72
B                    Oct    Elmer          90
A                    Oct  Crystle          98

## Students Turn Activity 4: Binning TED

### Instructions

  * Read in the CSV file provided and print it to the screen.

  * Find the minimum "views" and maximum "views".

  * Using the minimum and maximum "views" as a reference, create 10 bins in which to slice the data.

  * Create a new column called "View Group" and fill it with the values collected through your slicing.

  * Group the DataFrame based upon the values within "View Group".

  * Find out how many rows fall into each group before finding the averages for "comments", "duration", and "languages".

In [28]:
# Import Dependencies
import pandas as pd

In [29]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [30]:
# Figure out the minimum and maximum views for a TED Talk

In [31]:
# Create bins in which to place values based upon TED Talk views

# Create labels for these bins

In [32]:
# Slice the data and place it into bins

In [33]:
# Place the data series into a new column inside of the DataFrame

In [34]:
# Create a GroupBy object based upon "View Group"


# Find how many rows fall into each bin


# Get the average of each column within the GroupBy object

# Instructor Turn Activity 5 Mapping

In [39]:
import pandas as pd

In [40]:
# Mapping lets you format an entire DataFrame
file = "Resources/sample_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   id      city   avg_cost  population     other
0   1  Houxiang  55.121518      609458 -15.66171
1   2    Leribe  95.782967      601963 -23.79499
2   3  Hengshan  57.867827      589509   1.31471
3   4    Sogcho  59.220634      948491 -11.38280
4   5     Kohlu  23.092232       92206   7.66861

In [41]:
# Use Map to format all the columns
file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
file_df["population"] = file_df["population"].map("{:,}".format)
file_df["other"] = file_df["other"].map("{:.2f}".format)
file_df.head()

   id      city avg_cost population   other
0   1  Houxiang   $55.12    609,458  -15.66
1   2    Leribe   $95.78    601,963  -23.79
2   3  Hengshan   $57.87    589,509    1.31
3   4    Sogcho   $59.22    948,491  -11.38
4   5     Kohlu   $23.09     92,206    7.67

In [42]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes

id             int64
city          object
avg_cost      object
population    object
other         object
dtype: object

## Students Turn Activity 6: Cleaning Kickstarter

### Instructions

  * The instructions for this activity are contained within the Jupyter Notebook.

In [43]:
import pandas as pd

In [44]:
# The path to our CSV file
# The path to our CSV file
file = "Resources/KickstarterData.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

In [45]:
# Get a list of all of our columns for easy reference

In [46]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"

In [47]:
# Remove projects that made no money at all

In [48]:
# Collect only those projects that were hosted in the US

In [49]:
# Create a new column that finds the average amount pledged to a project

In [50]:
# Format our "average_donation", "goal", and "pledged" columns
# to go to two decimal places, include a dollar sign, and use comma notation

In [51]:
# Calculate the total number of backers for all US projects

In [52]:
# Calculate the average number of backers for all US projects

In [53]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [54]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)

## Instructor Turn Activity 7: Intro To Bug fixing

In [55]:
# Import dependencies
import pandas as pd

In [56]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "Resources/flavors_of_cacao.csv"
chocolate_ratings_df = pd.read_csv(csv_path)
chocolate_ratings_df.head(10)

,CompanyÂ (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Â,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Â,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Â,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Â,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Â,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,Â,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,Â,Peru

In [57]:
chocolate_ratings_df.columns

Index(['CompanyÂ (Maker-if known)', 'Specific Bean Origin or Bar Name', 'REF',
       'Review Date', 'Cocoa Percent', 'Company Location', 'Rating',
       'Bean Type', 'Broad Bean Origin'],
      dtype='object')

In [58]:
# Converting the "Cocoa Percent" column to floats
chocolate_ratings_df["Cocoa Percent"] = chocolate_ratings_df["Cocoa Percent"].replace(
    '%', '', regex=True).astype('float')

# Finding the average cocoa percent
chocolate_ratings_df["Cocoa Percent"].mean()

71.6983286908078

## Students Turn Activity 8: Bugfixing Bonanza!

### Instructions

  * Dig through the Jupyter Notebook provided and attempt to fix as many bugs as possible. There are a lot of them and the bugs get harder to deal with as the code progresses.

  * Once you have finished bugfixing, perform some additional analysis on the dataset provided. See what interesting trends are buried deep within these bug logs for the Eclipse IDE. So long as you challenge yourself, bugs will pop up and you will get even more bugfixing practice.

### Hints

  * After fixing the bugs in each block of code, be sure to run the cell below for an updated error.

  * There are a few new concepts being covered within this Jupyter Notebook. The most complex of these concepts is that of multi-indexing and it is very likely that this is where many will get held up. Do not worry though, multi-indexing is not in the homework and is not required outside of this activity. It is simply an interesting/powerful feature of Pandas.

In [61]:
# Import dependencies
import pandas as pd

In [66]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/EclipseBugs.csv"
eclipse_df = pd.read_csv(csv_path)
eclipse_df.head()

,Bug ID,Product,Component,Assignee,Status,Resolution,Summary,Changed,Assignee Real Name,Classification,...,Number of Comments,Opened,OS,Priority,Reporter,Reporter Real Name,Severity,Target Milestone,Version,Votes
0,3638,JDT,UI,aeschli,VERIFIED,FIXED,Package Viewer: order resource folders before ...,1/17/2002 7:28,Martin Aeschlimann,Eclipse,...,3.0,10/10/2001 22:58,Windows NT,P1,aeschli,Martin Aeschlimann,major,---,2,0.0
1,3854,JDT,UI,aeschli,VERIFIED,FIXED,Wrong execution's classpath. (1GEY0W0),1/18/2002 4:02,Martin Aeschlimann,Eclipse,...,5.0,10/10/2001 23:01,Windows NT,P1,david_audel,David Audel,normal,---,2,0.0
2,4188,JDT,UI,aeschli,VERIFIED,FIXED,type hierachy - typo (1GJW2XJ),1/28/2002 3:12,Martin Aeschlimann,Eclipse,...,3.0,10/10/2001 23:07,Windows 2000,P1,erich_gamma,Erich Gamma,normal,---,2,0.0
3,5115,JDT,Debug,aeschli,VERIFIED,FIXED,Workspace source locator fails with mulitple p...,11/13/2001 10:11,Martin Aeschlimann,Eclipse,...,10.0,10/19/2001 13:41,Windows 2000,P1,darin.eclipse,Darin Wright,normal,---,2,0.0
4,5820,JDT,UI,aeschli,VERIFIED,FIXED,Close all editors brings up hierarchy of object,11/20/2001 16:22,Martin Aeschlimann,Eclipse,...,5.0,11/12/2001 18:18,Windows 2000,P1,jed.anderson,Jed Anderson,normal,---,2,0.0

In [67]:
# Finding the average number of comments per bug
average_comments = eclipse_df["Number of Comments"].mean()
average_comments

KeyError: 'Number of Comments'